<form ng-submit="$ctrl.onSubmit()">
    <fieldset class="form-group">
        <label for="summary">Summary</label>
        <input type="text" class="form-control" id="summary" ng-model="$ctrl.summary" placeholder="Summary">
    </fieldset>
    <fieldset class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" ng-model="$ctrl.description" placeholder="Description">
    </fieldset>
    <fieldset class="form-group">
        <label for="priority">Ticket Priority</label>
        <select class="form-control" id="priority" ng-model="$ctrl.priority">
            <option value="trivial">TRIVIAL</option>
            <option value="minor">MINOR</option>
            <option value="major">MAJOR</option>
            <option value="critical">CRITICAL</option>
            <option value="blocker">BLOCKER</option>
        </select>
    </fieldset>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
