<form action="/api/tickets" method="post">
    <fieldset class="form-group">
        <label for="summary">Summary</label>
        <input ng-model="$ctrl.ticket.summary" type="text" class="form-control" id="summary" name="summary" placeholder="Summary">
    </fieldset>
    <fieldset class="form-group">
        <label for="description">Description</label>
        <input ng-model="$ctrl.ticket.description" type="text" class="form-control" id="description" name="description" placeholder="Description">
    </fieldset>
    <fieldset class="form-group">
        <label for="priority">Ticket Priority</label>
        <select  ng-model="$ctrl.ticket.priority" class="form-control" id="priority" name="priority">
            <option value="trivial">TRIVIAL</option>
            <option value="minor">MINOR</option>
            <option value="major">MAJOR</option>
            <option value="critical">CRITICAL</option>
            <option value="blocker">BLOCKER</option>
        </select>
    </fieldset>
    <button type="submit" class="btn btn-primary">Edit</button>
    <button type="cancel" class="btn btn-primary">Cancel</button>
</form>
